---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const identity = {
  firstName: "Nicolás",
  country: "Argentina",
  occupation: "estudiante de computacion",
  hobbies: ["fiction writing", "programming", "cooking"],
};
const skills = ["Creative Writing", "HTML", "CSS", "JavaScript", "Shell", "Lisp", "Python", "C/C++"];
const happy = true;
const finished = false;
const goal = 3;
---
<BaseLayout pageTitle="Sobre mi persona">
    <h2>Un poco sobre mi...</h2>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>Mi nombre es {identity.firstName}.</li>
        <li>Yo vivo en {identity.country} y so un {identity.occupation}.</li>
         {identity.hobbies.length >= 2 &&
        <li>Dos de mis hobbies son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
         }
    </ul>
    <p>Tengo experiencia haciendo:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <p>Este es un sitio de prueba para blogs hecho con Astro</p>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ipsum labore, ad, ut quaerat unde illum voluptatum necessitatibus pariatur consectetur vitae vero cumque odit excepturi numquam cum, iusto natus? Dicta.</p>
</BaseLayout>
